// "Lines" by will woodham
// https://codepen.io/tdtd/pen/MWYNzdN

.woodham-lines-container {
  position: absolute;
  top: 20px;
  left:0;
  background: transparent;
  margin-top: -30px;
  margin-left: -100px;
  margin-rigth: -100px;
  overflow: hidden;
  cursor: crosshair ;
  display: grid;
  height: 90px;
  width: 100%;
  z-index: 20;
  color-adjust: hue(#FE2B28);

  .woodham-lines-main {
    grid-area: main;
    justify-items: center;
    align-items: center;
    color-adjust: hue(#FE2B28);

    .woodham-lines-canvas {
      offset-start: 0;

      z-index: -9;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;


      button {
        position: relative;
        color: white;
        font-size: 2.5rem;
        background: transparent;
        min-height: 5rem;
        min-width: 15rem;
        border: 1px solid rgba(255, 255, 255, 1);
        transition: all ease-in-out 0.35s;
        cursor: pointer;

        &:hover {
          background: #232129;
        }
      }
    }
  }
}
