---
layout: default
---

{% include how-it-started.html %}

    {% for post in site.posts %}
    {% if post.title %}

<div class="wrapper">
    <header>
      <h1><a href="{{post.url}}">{{post.title}}</a></h1>
      <p><span class="date">Posted on {{post.date |  date: "%A, %d %b %Y" }}</span></p>
    </header>
    <section>
       {{ post.excerpt }}
       <a class="read-more" href="{{ post.url }}#continue">[ …continue reading &LongRightArrow; ]</a>
    </section>
</div>
    {% endif %}

    {% endfor %}
