---
layout: default
title: Home
---

<img src="/images/robo-mania-header.jpg" width="800" alt="Robot Mania">
<div class="vspacer20"></div>
<div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>

        <span class="post-date">Posted on {{post.date | date: "%A, %d %b %Y" }}</span>
        {{ post.excerpt }}
        <a class="read-more" href="{{ post.url }}#continue">[ …continue reading &LongRightArrow; ]</a>

    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
</div>
