/* line 67, ../../_compass/custom.scss */
hr {
  border-top: 2px dotted rgba(38, 30, 30, 0.88) !important;
}

@media (max-width: 48em) {
  /* line 72, ../../_compass/custom.scss */
  .navbar {
    margin: 0;
    padding: 0px;
  }
  /* line 73, ../../_compass/custom.scss */
  .navbar .navbar-header {
    height: 40px;
  }
  /* line 78, ../../_compass/custom.scss */
  .navbar li a {
    font-size: 13pt !important;
  }

  /* line 82, ../../_compass/custom.scss */
  .share-buttons {
    display: none;
  }

  /* line 85, ../../_compass/custom.scss */
  .tweets {
    display: none;
  }

  /* line 88, ../../_compass/custom.scss */
  body.theme-ltec {
    font-size: 10pt;
    line-height: 18pt;
    font-weight: 300;
  }
  /* line 92, ../../_compass/custom.scss */
  body.theme-ltec .post {
    padding: 15px;
  }
  /* line 95, ../../_compass/custom.scss */
  body.theme-ltec code, body.theme-ltec pre {
    font-size: 11pt;
  }
}
@media (min-width: 48em) {
  /* line 103, ../../_compass/custom.scss */
  html body.theme-ltec {
    font-size: 14pt;
    line-height: 20pt;
  }
  /* line 106, ../../_compass/custom.scss */
  html body.theme-ltec code, html body.theme-ltec pre {
    font-size: 11pt;
  }
  /* line 109, ../../_compass/custom.scss */
  html body.theme-ltec .post {
    max-width: 900px;
  }
  /* line 113, ../../_compass/custom.scss */
  html .tweets {
    display: none;
  }

  /* line 118, ../../_compass/custom.scss */
  .github-repos {
    padding-left: 0px;
    font-size: 13pt;
  }
}
@media (min-width: 58em) {
  /* line 126, ../../_compass/custom.scss */
  html body.theme-ltec {
    font-size: 15pt;
    line-height: 20pt;
    font-weight: 300;
  }
  /* line 130, ../../_compass/custom.scss */
  html body.theme-ltec code, html body.theme-ltec pre {
    font-size: 12pt;
  }
  /* line 134, ../../_compass/custom.scss */
  html .github-repos {
    padding-left: 0px;
    font-size: 14px;
  }
}
@media (min-width: 85em) {
  /* line 143, ../../_compass/custom.scss */
  html .tweets {
    display: block;
  }
}
/* line 150, ../../_compass/custom.scss */
html {
  font-family: "Raleway", sans-serif !important;
  font-weight: 300;
}

/* line 155, ../../_compass/custom.scss */
body.theme-ltec {
  background-color: rgba(38, 30, 30, 0.88);
  color: rgba(213, 223, 223, 0.93);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-family: "Raleway", sans-serif !important;
  font-weight: 100;
  line-height: 15pt;
}
/* line 157, ../../_compass/custom.scss */
body.theme-ltec .lb-container {
  padding: 0;
}
/* line 159, ../../_compass/custom.scss */
body.theme-ltec .lb-container img.lb-image {
  border-width: 0;
  box-shadow: 0 0 0;
}
/* line 165, ../../_compass/custom.scss */
body.theme-ltec em {
  color: rgba(255, 255, 255, 0.93);
  font-weight: 700;
  font-style: oblique;
}
/* line 171, ../../_compass/custom.scss */
body.theme-ltec em.title {
  color: rgba(175, 207, 97, 0.9);
}
/* line 175, ../../_compass/custom.scss */
body.theme-ltec .sidebar {
  color: rgba(255, 255, 255, 0.98);
  margin: 0;
  padding: 25px 0px 0px;
}
/* line 179, ../../_compass/custom.scss */
body.theme-ltec .sidebar li a {
  font-size: 17pt;
}
/* line 182, ../../_compass/custom.scss */
body.theme-ltec .sidebar .collapse {
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 187, ../../_compass/custom.scss */
body.theme-ltec nav.navbar {
  padding: 0;
  margin: 0;
}
/* line 190, ../../_compass/custom.scss */
body.theme-ltec nav.navbar .navbar-header {
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 0;
  position: relative;
}
/* line 196, ../../_compass/custom.scss */
body.theme-ltec nav.navbar .navbar-header button {
  padding: 0;
  margin: 0;
  left: 10px;
  top: -10px;
  position: absolute;
}
/* line 202, ../../_compass/custom.scss */
body.theme-ltec nav.navbar .navbar-header button span.glyphicon-menu-hamburger {
  color: rgba(163, 173, 173, 0.93);
  font-size: 30pt;
  visibility: visible;
}
/* line 206, ../../_compass/custom.scss */
body.theme-ltec nav.navbar .navbar-header button span.glyphicon-menu-hamburger:hover {
  color: rgba(233, 243, 243, 0.93);
}
/* line 209, ../../_compass/custom.scss */
body.theme-ltec nav.navbar .navbar-header button span.glyphicon-menu-hamburger:active {
  color: white;
}
/* line 217, ../../_compass/custom.scss */
body.theme-ltec .nav code {
  background-color: #3b303a;
  color: white;
  margin-right: 10px;
  font-size: 17pt;
  text-shadow: 1px 1px 2px black;
  font-weight: 100;
}
/* line 226, ../../_compass/custom.scss */
body.theme-ltec .nav > li a, body.theme-ltec .nav li.open > a {
  background-color: rgba(113, 95, 98, 0.97);
}
/* line 229, ../../_compass/custom.scss */
body.theme-ltec .nav span.caret {
  float: right;
  margin: 10px;
}
/* line 233, ../../_compass/custom.scss */
body.theme-ltec .nav .dropdown-menu {
  background-color: rgba(83, 65, 68, 0.97);
}
/* line 234, ../../_compass/custom.scss */
body.theme-ltec .nav .dropdown-menu .intro {
  padding-left: 10px;
  color: rgba(175, 175, 175, 0.98);
}
/* line 238, ../../_compass/custom.scss */
body.theme-ltec .nav .dropdown-menu h1, body.theme-ltec .nav .dropdown-menu h2, body.theme-ltec .nav .dropdown-menu h3, body.theme-ltec .nav .dropdown-menu h4, body.theme-ltec .nav .dropdown-menu h5 {
  color: rgba(175, 175, 175, 0.98);
  padding-left: 10px;
  font-weight: 100 !important;
  line-height: 120%;
  font-family: "Fjalla One", sans-serif !important;
  text-transform: capitalize;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
/* line 248, ../../_compass/custom.scss */
body.theme-ltec .nav .dropdown-menu .divider {
  background-color: rgba(113, 95, 98, 0.97);
  height: 2px;
  border-top: 1px solid rgba(93, 75, 78, 0.97);
  border-bottom: 1px solid rgba(133, 115, 118, 0.97);
}
/* line 255, ../../_compass/custom.scss */
body.theme-ltec .nav .dropdown-menu a {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 260, ../../_compass/custom.scss */
body.theme-ltec .nav a, body.theme-ltec .nav .open > a {
  background-image: none !important;
  display: block;
  font-family: "Raleway", "Roboto Condensed", "HelveticaNeue-CondensedBold", Arial, sans-serif !important;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  margin-right: -1px;
  color: rgba(255, 255, 255, 0.98);
  text-shadow: 1px 1px 1px rgba(29, 39, 50, 0.96);
}
/* line 272, ../../_compass/custom.scss */
body.theme-ltec .nav a:hover, body.theme-ltec .nav a:focus, body.theme-ltec .nav .open > a:hover, body.theme-ltec .nav .open > a:focus {
  color: #ffffff;
  background-color: rgba(255, 199, 148, 0.7);
  box-shadow: 0px 0px 8px rgba(255, 250, 219, 0.61);
}
/* line 278, ../../_compass/custom.scss */
body.theme-ltec .nav a.active, body.theme-ltec .nav .open > a.active {
  background-color: rgba(158, 105, 123, 0.72) !important;
  color: rgba(255, 255, 255, 0.98);
  margin-right: 0px;
  border-size: 0;
  font-weight: 700;
}
/* line 287, ../../_compass/custom.scss */
body.theme-ltec .nav .open a:hover {
  background-color: rgba(215, 159, 108, 0.7);
}
/* line 291, ../../_compass/custom.scss */
body.theme-ltec .nav .dropdown-menu a {
  background-color: rgba(255, 255, 255, 0);
}
/* line 322, ../../_compass/custom.scss */
body.theme-ltec form input {
  background-color: #1d121c;
  color: white !important;
  border-color: #1a0e16;
  box-shadow: 0 0 5px rgba(255, 126, 108, 0.89);
}
/* line 328, ../../_compass/custom.scss */
body.theme-ltec form fieldset {
  position: relative;
}
/* line 330, ../../_compass/custom.scss */
body.theme-ltec form fieldset span.glyphicon-search {
  position: absolute;
  top: 35px;
  right: 10px;
}
/* line 334, ../../_compass/custom.scss */
body.theme-ltec form fieldset span.glyphicon-search:hover {
  cursor: pointer;
}
/* line 341, ../../_compass/custom.scss */
body.theme-ltec a {
  font-weight: 400;
  margin: 0;
  color: rgba(204, 156, 74, 0.95);
  text-shadow: 1px 1px 5px rgba(18, 10, 10, 0.88);
}
/* line 347, ../../_compass/custom.scss */
body.theme-ltec .text-muted, body.theme-ltec label {
  color: rgba(173, 183, 183, 0.93);
  font-family: HelveticaNeue-CondensedBold;
}
/* line 352, ../../_compass/custom.scss */
body.theme-ltec .post {
  text-align: left;
}
/* line 354, ../../_compass/custom.scss */
body.theme-ltec .post ul li, body.theme-ltec .post ol li {
  margin-bottom: 15px;
}
/* line 358, ../../_compass/custom.scss */
body.theme-ltec .post a {
  color: rgba(254, 206, 124, 0.95);
  font-weight: 400;
}
/* line 362, ../../_compass/custom.scss */
body.theme-ltec .post .related-posts li a:hover {
  color: rgba(254, 206, 124, 0.95);
  font-weight: 400;
}
/* line 367, ../../_compass/custom.scss */
body.theme-ltec .post blockquote {
  clear: both;
  background-color: rgba(90, 64, 86, 0.67);
  color: #cca2c6;
  border: 5px solid !important;
  text-shadow: none;
  font-weight: bold;
  font-size: 14pt;
  line-height: 20pt;
  margin: 30px 0;
}
/* line 379, ../../_compass/custom.scss */
body.theme-ltec .post blockquote p {
  margin-bottom: 15px;
}
/* line 382, ../../_compass/custom.scss */
body.theme-ltec .post blockquote p:last-child {
  margin-bottom: 0px;
}
/* line 385, ../../_compass/custom.scss */
body.theme-ltec .post blockquote ul {
  padding: 10px;
}
/* line 387, ../../_compass/custom.scss */
body.theme-ltec .post blockquote ul li {
  margin-bottom: 10px;
}
/* line 390, ../../_compass/custom.scss */
body.theme-ltec .post blockquote ul :last-child {
  margin-bottom: 0;
}
/* line 395, ../../_compass/custom.scss */
body.theme-ltec .post h1, body.theme-ltec .post h2, body.theme-ltec .post h3, body.theme-ltec .post h4, body.theme-ltec .post h5 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: rgba(219, 198, 240, 0.78);
  font-weight: 100 !important;
  line-height: 120%;
  font-family: "Fjalla One", sans-serif !important;
  text-transform: capitalize;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
/* line 405, ../../_compass/custom.scss */
body.theme-ltec .post h1, body.theme-ltec .post h1.post-title {
  color: rgba(219, 198, 240, 0.78) !important;
  font-size: 28pt;
  font-family: "Fjalla One", sans-serif !important;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
/* line 411, ../../_compass/custom.scss */
body.theme-ltec .post h1.post-title {
  color: rgba(195, 227, 117, 0.9) !important;
}
/* line 414, ../../_compass/custom.scss */
body.theme-ltec .post h2 {
  font-size: 25pt;
}
/* line 417, ../../_compass/custom.scss */
body.theme-ltec .post h3 {
  font-size: 22pt;
}
/* line 420, ../../_compass/custom.scss */
body.theme-ltec .post h4 {
  font-size: 20pt;
}
/* line 423, ../../_compass/custom.scss */
body.theme-ltec .post h5 {
  font-size: 17pt;
}
/* line 428, ../../_compass/custom.scss */
body.theme-ltec .post figure {
  background-color: transparent;
}
/* line 431, ../../_compass/custom.scss */
body.theme-ltec .post pre {
  background-color: transparent;
  box-shadow: 1px 1px 2px black;
  overflow: hidden;
  margin: 0px;
}
/* line 437, ../../_compass/custom.scss */
body.theme-ltec .post code {
  border: 1px solid #170000;
  background-color: rgba(38, 30, 30, 0.88);
  color: #FFFFFF;
  display: inline-block;
  font-family: "Fira Mono", "Consolas", "Cousine", "Menlo", "Andale Mono", Courier, sans-serif !important;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 2px 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.88);
}
/* line 448, ../../_compass/custom.scss */
body.theme-ltec .post .panel-heading {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
/* line 453, ../../_compass/custom.scss */
body.theme-ltec .post .panel-heading figure > pre {
  background-color: rgba(38, 30, 30, 0.88);
  overflow: hidden;
  background-clip: padding-box;
}
/* line 460, ../../_compass/custom.scss */
body.theme-ltec .post .highlight {
  background-color: transparent;
  padding: 0px;
}
/* line 464, ../../_compass/custom.scss */
body.theme-ltec .post .highlight pre code {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.88);
  background-color: rgba(38, 30, 30, 0.88);
  overflow: hidden;
  background-clip: padding-box;
  border: 1px solid #170000;
  color: #FFFFFF;
  display: inline-block;
  font-family: "Fira Mono", "Consolas", "Cousine", "Menlo", "Andale Mono", Courier, sans-serif !important;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 20px;
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.88);
}
/* line 481, ../../_compass/custom.scss */
body.theme-ltec .post .highlight code, body.theme-ltec .post .highlight pre {
  background-color: transparent;
  color: #ebebeb !important;
  border: 0;
  box-shadow: 0 0 0;
}
/* line 487, ../../_compass/custom.scss */
body.theme-ltec .post .highlight .gutter {
  border-size: 0px;
}
/* line 490, ../../_compass/custom.scss */
body.theme-ltec .post .highlight pre, body.theme-ltec .post .highlight code .lineno, body.theme-ltec .post .highlight td.gutter {
  background-color: transparent;
  border: 0;
  box-shadow: 0 0 0;
  font-family: "Fira Mono", "Consolas", "Cousine", "Menlo", "Andale Mono", Courier, sans-serif !important;
}
/* line 496, ../../_compass/custom.scss */
body.theme-ltec .post .highlight td.gutter pre, body.theme-ltec .post .highlight td.code pre {
  border-radius: 0;
  padding-bottom: 0;
}
/* line 502, ../../_compass/custom.scss */
body.theme-ltec .post .panel .panel-heading figure > pre {
  padding: 0;
  border: 1px solid #170000;
  box-shadow: 0 0 15px black;
}
/* line 509, ../../_compass/custom.scss */
body.theme-ltec .post div.external-reference {
  background-color: rgba(48, 40, 40, 0.88);
  color: #6d8b6b;
  text-shadow: none;
  box-shadow: 0 0 15px #ffdede;
  font-weight: 100;
  font-size: 11pt;
  padding: 5px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 522, ../../_compass/custom.scss */
body.theme-ltec .post .pagination {
  border: 1px solid #E08E79;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 50px;
}
/* line 527, ../../_compass/custom.scss */
body.theme-ltec .post .pagination .pagination-item {
  padding: 5px;
}
/* line 533, ../../_compass/custom.scss */
body.theme-ltec span.post-date {
  display: block;
  margin-bottom: 15px;
  color: rgba(195, 227, 117, 0.9);
  font-weight: 700;
}
/* line 540, ../../_compass/custom.scss */
body.theme-ltec p.lead {
  color: #FFFFFF;
  /*line-height: 15pt;*/
  font-size: 12pt;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif !important;
}
/* line 548, ../../_compass/custom.scss */
body.theme-ltec .lead a {
  font-color: #FFFFFF;
}
/* line 552, ../../_compass/custom.scss */
body.theme-ltec a.read-more {
  display: block;
  padding-bottom: 50px;
  color: #E08E79;
  font-weight: 400;
  text-align: right;
}
/* line 560, ../../_compass/custom.scss */
body.theme-ltec .related {
  font-family: "Raleway", sans-serif;
}
/* line 564, ../../_compass/custom.scss */
body.theme-ltec img {
  border: 1px solid #34ffcb;
  box-shadow: 1px 1px 6px #34ffcb;
  margin-right: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 573, ../../_compass/custom.scss */
body.theme-ltec img.clear-image {
  border: 0;
  box-shadow: 0 0 0;
}
/* line 579, ../../_compass/custom.scss */
body.theme-ltec a.command-line {
  display: inline-block;
  background-color: black;
  padding: 10px;
  border: 1px solid #34ffcb;
  box-shadow: 1px 1px 6px #34ffcb;
  margin-right: 10px;
  margin-bottom: 20px;
}
/* line 588, ../../_compass/custom.scss */
body.theme-ltec a.command-line img {
  border: 0px solid black;
  box-shadow: 0 0 0 !important;
}
/* line 595, ../../_compass/custom.scss */
body.theme-ltec .small-right a {
  float: right;
  width: 32%;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}
/* line 601, ../../_compass/custom.scss */
body.theme-ltec .small-right a img {
  margin-top: 0;
}
/* line 608, ../../_compass/custom.scss */
body.theme-ltec .small a img {
  float: left;
  margin-top: 0;
  margin-bottom: 10px;
  width: 31%;
}
/* line 616, ../../_compass/custom.scss */
body.theme-ltec img#google-plus-icon, body.theme-ltec img.external-service-logo {
  width: 25px;
  height: 25px;
  margin-left: 4px;
  margin-top: -4px;
  display: inline-block;
  border: 0px solid transparent;
  box-shadow: 0 0 0;
}
/* line 627, ../../_compass/custom.scss */
body.theme-ltec p.about-footer {
  width: 100%;
  padding: 5px;
  margin: 0;
  text-align: center;
  border-top: 1px solid #E08E79;
  background: rgba(113, 95, 98, 0.97);
  font-size: 13pt;
}

/* line 640, ../../_compass/custom.scss */
.tweets {
  display: none;
  margin-top: 300px;
  width: 90%;
  border: 1px solid #1b253c;
  color: #ffffff;
  background-color: rgba(113, 95, 98, 0.97);
  box-shadow: 0px 0px 8px rgba(28, 20, 20, 0.88);
  padding: 5px;
  margin-right: 0px;
  margin-left: 10px;
}
/* line 653, ../../_compass/custom.scss */
.tweets .timeline-Widget .timeline-Header, .tweets .timeline-Widget .timeline-TweetList, .tweets .timeline-Widget .timeline-Viewport {
  background-color: rgba(113, 95, 98, 0.97);
  color: rgba(255, 255, 255, 0.98);
}

/* line 662, ../../_compass/custom.scss */
ul.share-buttons {
  position: fixed;
  left: 0px;
  top: 150px;
  list-style: none;
  padding: 5px;
  width: 40px;
  overflow: hidden;
}
/* line 670, ../../_compass/custom.scss */
ul.share-buttons img {
  opacity: 0.7;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
  padding: 2px 2px;
  border-width: 0;
  box-shadow: 0 0 0;
  margin-bottom: 5px;
  width: 36px;
  height: 36px;
}
/* line 679, ../../_compass/custom.scss */
ul.share-buttons img:hover {
  background-color: rgba(255, 255, 255, 0.98);
}
/* line 684, ../../_compass/custom.scss */
ul.share-buttons .share-buttons-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(38, 30, 30, 0.28);
}

/* line 693, ../../_compass/custom.scss */
#toc {
  font-family: "Fjalla One", sans-serif;
}
/* line 695, ../../_compass/custom.scss */
#toc .toc, #toc .mw-warning {
  font-size: 15pt !important;
  padding: 0;
}
/* line 699, ../../_compass/custom.scss */
#toc h2, #toc .toc h2 {
  border: medium none;
  display: inline;
  padding: 0;
}
/* line 704, ../../_compass/custom.scss */
#toc #toctitle, #toc .toc #toctitle, #toc #toc .toctitle, #toc .toc .toctitle {
  text-align: left;
  margin: 0;
  padding-top: 8px;
  overflow: hidden;
}
/* line 710, ../../_compass/custom.scss */
#toc ul, #toc .toc ul {
  list-style-image: none;
  list-style-type: none;
  margin: 20px 10px;
  padding-left: 0;
  text-align: left;
}
/* line 718, ../../_compass/custom.scss */
#toc ul ul, #toc .toc ul ul {
  margin: 1em 0;
  margin-left: 1em;
  list-style-type: none;
  padding-left: 20px;
  line-height: 40px !important;
}
/* line 728, ../../_compass/custom.scss */
#toc ul li {
  font-size: 17pt;
}
/* line 730, ../../_compass/custom.scss */
#toc ul li a {
  color: rgba(176, 139, 203, 0.83);
  line-height: 19pt;
}
/* line 735, ../../_compass/custom.scss */
#toc ul ul li {
  font-size: 14pt;
  padding: 0;
  margin: 0;
}
/* line 739, ../../_compass/custom.scss */
#toc ul ul li a {
  color: rgba(124, 200, 255, 0.49);
  line-height: 10px !important;
}

/* line 746, ../../_compass/custom.scss */
#toc-container {
  margin-bottom: 0px;
  margin-top: 20px;
}

/* line 755, ../../_compass/custom.scss */
#toc.table {
  width: 90%;
}

/* line 758, ../../_compass/custom.scss */
.float-left {
  float: left;
}

/* line 762, ../../_compass/custom.scss */
.float-right {
  float: right;
}

/* line 767, ../../_compass/custom.scss */
div.vspacer {
  height: 50px;
}
/* line 770, ../../_compass/custom.scss */
div.vspacer20 {
  height: 20px;
}
/* line 773, ../../_compass/custom.scss */
div.container {
  padding-top: 0;
  margin: 0;
}
/* line 777, ../../_compass/custom.scss */
div.clear-fix {
  clear: both;
  margin-bottom: 20px;
}
