a.lightbox-anchor {
  text-align: left;

  img.lightbox-img {
    width: 70% !important;
    border-radius: 5px;
    border: 1px solid #503757;
    box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);
    margin-left: 0;
  }
}