<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/lightbox/css/lightbox.css"/>

    <script src="/javascripts/scale.fix.js"></script>
    <script src="/lightbox/js/jquery-1.11.0.min.js"></script>
    <script src="/lightbox/js/lightbox.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta content="{{page.title}} – blog by Konstantin Gredeskoul about Arduino, hardware, sensors, robotics, beaglebone black" name='description'>
    <meta content="arduino,sensors,robots,beaglebone black,C++,C,{{page.title}}" name='keywords'>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if page.title %}
      <title>kiguino: {{page.title}} – from hardware blog by Konstantin Gredeskoul</title>
    {% else %}
      <title>{{site.title}}</title>
    {% endif %}
  </head>
  <body>

