{% include share.html %}

<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 left-sidebar">

  {% unless page.sidebar == 'hidden' %}
    {% include nav-sidebar-content.html %}
  {% endunless %}

  <div class="vspacer"></div>
  {% include google-adsense.html %}

  {% if false || page.show_twitter %}
  <div class="tweets">
    <a class="twitter-timeline"
      data-chrome="noheader nofooter noborders noscrollbar transparent"
      data-dnt="true"
      width="100%"
      href="https://twitter.com/kig"
      data-widget-id="673740947461566464">Tweets by @kig
    </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  {% endif %}

  </div>
  {% if page.toc %}
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 main">
  {% else %}
  <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 main">
  {% endif %}

    {% include blog-headline.html %}
    {{ content | inject_anchors }}
  </div>

  {% if page.toc %}
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
    <div class="content-toc">
      <h5 class="toc-title">Table of Contents</h5>
      {{ content | toc_only }}
    </div>
  </div>
  {% endif %}
  <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>

</div>
