<nav class="sidebar">
  <div class="navbar navbar-default navbar-sidebar">
    <div class="navbar-header">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
    </div>
    {% assign pages_list = site.posts %}
    <ul class="nav">
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
          <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
            href="{{ node.url }}#content"
            title="{{ node.title }}"
            >{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      <hr/>
      <li><a class="sidebar-nav-item" href="https://soundcloud.com/polygroovers" target="_blank">My Original Music</a></li>
      <li><a class="sidebar-nav-item" href="https://slideshare.net/kigster">My Conference Slides</a></li>
    </ul>
  </div>
</nav>
