<div class="sidebar-about">
  <h1>
    <a href="{{ site.baseurl }}">
      {{ site.title }}
    </a>
  </h1>
  <p class="site-description">{{ site.description }}</p>
</div>

<hr />
<nav class="navbar sidebar-nav">
  {% assign pages_list = site.posts %}
  <ul class="nav nav-sidebar">
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
        <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
               href="{{ node.url }}"
               title="{{ node.title }}"
        >{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    <hr/>
    <li><a class="sidebar-nav-item" href="https://soundcloud.com/polygroovers" target="_blank">My Original Music</a></li>
    <li><a class="sidebar-nav-item" href="https://slideshare.net/kigster">My Conference Slides</a></li>
  </ul>

  <hr />
  <div class="vspacer20"></div>

  <!--<div class="github-repos">-->
    <!--{% assign repos_list = site.github_repos %}-->
    <!--{% for repo in repos_list %}-->
    <!--<iframe class="pull-left"-->
            <!--src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ repo }}&type=watch&count=true" frameborder="0"-->
            <!--scrolling="0" width="90" height="20"></iframe>-->
    <!--<a class="pull-left"-->
       <!--title="Github Repo by {{ site.github_username }} – {{ repo }}"-->
       <!--href="https://github.com/{{ site.github_username }}/{{repo}}">{{ repo }}</a>-->
    <!--<div class="clearfix"></div>-->
    <!--{% endfor %}-->
    <!--<div class="vspacer20"></div>-->
  <!--</div>-->

  <div class="site-description">
  </div>
  <div class="vspacer20"></div>
</nav>
<div class="sidebar-about">
  <p>&copy; {{ site.time | date: '%Y' }}, all rights reserved.</p>
</div>


