<!--<div class="container">-->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top pb-0"
     id="top-nav">

  <div class="container align-content-center float-left  navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pr-lg-5 navbar-light bg-light"
         id="navbarSupportedContent">

      <ul class="float-right navbar-nav nav-tabs navbar-light bg-light border-0 ml-0 w-100 pb-0">
        <li class="nav-item float-right  navbar-light bg-light">
          <a class="nav-link"
             href="/">Home</a>
        </li>
        {% for menu_page in site.pages %}
        {% if menu_page.add_to_menu == true %}
        {% if page.title == menu_page.title %}
        {% assign active_class="active" %}
        {% else %}
        {% assign active_class="" %}
        {% endif %}
        <li class="nav-item float-right">
          <a class="nav-link {{ active_class }}"
             href="{{ menu_page.url }}">{{
            menu_page.title | truncatewords: 5 }}</a>
        </li>
        {% endif %}
        {% endfor %}

        <div class="divider-horizontal w-100"></div>

        <li class="nav-item float-right dropdown">
          <a class="nav-link btn-outline-light dropdown-toggle"
             data-toggle="dropdown"
             href="#"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">Archive</a>

          <div class="dropdown-menu">
            {% for post in site.posts %}
            <a class="dropdown-item small" href="{{ post.url }}">
              <div class="post-date-menu">
                <strong>{{ post.date | date: '%b %Y' }}</strong>
              </div>
              <span class="post-title">{{ post.title | truncatewords: 6 }}</span>
            </a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item float-right dropdown">
          <a class="nav-link btn-outline-light dropdown-toggle"
             data-toggle="dropdown"
             href="#"
             role="button" aria-haspopup="true"
             aria-expanded="false">Categories</a>

          <div class="dropdown-menu">
            {% assign categories = site.categories | sort "[0]" %}
            {% for category in categories %}
            {% assign category_name = category[0] %}
            <a class="dropdown-item small"
               href="/category/{{ category_name }}/">{{ category_name |
              replace: "-", " " }}
            </a>
            {% endfor %}
          </div>
        </li>

        <div class="divider-horizontal w-100"></div>


      </ul>

      <a class="navbar-brand" id="site-logo" href="/">
        <img src="/assets/images/site/kigre-red-logo.png" width="100"/>
      </a>


    </div>

  </div>
</nav>
<!--</div>-->
