<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css" />
<div id="email_form" class="pb-50">
  <div id="mc_embed_signup">
    <form
      action="https://kig.us19.list-manage.com/subscribe/post?u=ab7fddab964c6ba596338bf84&amp;id=d7802cdf53"
      class="validate"
      id="mc-embedded-subscribe-form"
      method="post"
      name="mc-embedded-subscribe-form"
      novalidate
      target="_blank"
    >
      <div id="mc_embed_signup_scroll">
        <input class="email" id="mce-EMAIL" name="EMAIL" placeholder="Your email address" required type="email" value="" />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <input name="b_ab7fddab964c6ba596338bf84_d7802cdf53" tabindex="-1" type="text" value="" />
        </div>
        <div class="clear ml-3"><input class="button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Sign me up!" /></div>
      </div>
    </form>
  </div>
</div>
<!--End mc_embed_signup-->
