@import "variable";

.imageblock {
  .content {
    img {
      border: 1px solid #888;
      box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.2);
      margin: 50px auto;
    }
  }
}

.quoteblock {
  margin-left: 0px !important;

  blockquote,
  blockquote .paragraph p {
    font-size: 1.5rem;
    text-align: left;
    font-family: $font-cursive;
    color: $primary-color + 60;
    margin: 20px 0;

    font-weight: 200 !important;
    line-height: 1.7rem !important;
    font-style: italic !important;
  }
}

ol > li p,
ul > li p,
ul dd,
ol dd,
.olist .olist,
.ulist .ulist,
.ulist .olist,
.olist .ulist {
  margin-bottom: 0.46875em;
}

.ulist,
.olist {
  ul,
  ol {
    li {
      padding-left: 10px;
      margin-bottom: 15px;
      margin-top: 10px;
      font-size: $primary-font-size-small !important;

      ul,
      ol {
        li {
          margin-top: 10px !important;
        }
      }
    }
  }
}

.sidebarblock {
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d4;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #ededed;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.sidebarblock > :first-child {
  margin-top: 0;
}

.sidebarblock > :last-child {
  margin-bottom: 0;
}

.sidebarblock > .content > .title {
  color: #3c3d3f;
  margin-top: 0;
}

dt,
th.tableblock,
td.content,
div.footnote {
  // NOTE text-rendering is already set for p
  text-rendering: optimizeLegibility;
}

// QUESTION should we tighten letter spacing of text in footnotes?
h1,
h2,
p,
td.content,
span.alt {
  letter-spacing: -0.01em;
}

p,
td.content,
div.footnote {
  strong {
    // NOTE needs to apply anywhere we have bold prose
    letter-spacing: -0.005em;
  }
}

// NOTE include blockquote for when it doesn't have a nested p
p,
blockquote,
dt,
td.content,
span.alt {
  font-size: 1.0625rem;
}

p {
  margin-bottom: 1.25rem;
}

// restore font size in sidebar block and regular table cells
.sidebarblock p,
.sidebarblock dt,
.sidebarblock td.content,
p.tableblock {
  font-size: 1em;
}

.exampleblock > .content {
  // white
  //background-color: #fff;
  //border-color: $panel-border-color;
  //@include single-box-shadow($panel-border-color, 0, 1px, 2px);

  // light yellow
  background-color: #fffef7; // from rgb(252,247,227), analogous to #f8f8f7
  border-color: #1b1e21;
}

// trick to prevent caption from influencing width of an autowidth table
table.tableblock.fit-content > caption.title {
  white-space: normal;
  width: 0;
}

// Firefox sizes caption to width of table parent, so setting width: 100% works
// A better solution is to wrap the table in a figure/figcaption
//@supports (-moz-appearance:none) {
//  table.tableblock.fit-content > caption.title {
//    white-space: normal;
//  }
//  table.tableblock:not(.stretch) > caption.title {
//    width: 100%;
//  }
//}

// matches %lead
.paragraph.lead > p,
#preamble > .sectionbody > [class="paragraph"]:first-of-type p {
  font-size: 1.3rem + em-calc(3.5);

  font-weight: 400;
  line-height: 1.6;
  color: #1d2124;
  width: 100%;

  // QUESTION remove or reduce letter-spacing?
}

// nested AsciiDoc document (should put "nested" class on surrounding div)
table.tableblock #preamble > .sectionbody > [class="paragraph"]:first-of-type p {
  font-size: inherit;
}

.admonitionblock {
  margin-bottom: 0;
}

.sectionbody .admonitionblock > table {
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.2);

  border-collapse: separate;
  border: 0;
  width: 100%;
  overflow: hidden !important;

  td.icon {
    text-align: center;
    padding: 10px 10px 10px 40px;
    overflow: hidden;
    font-size: 1.5rem;
    vertical-align: middle;

    i {
      font-size: 3rem;
    }

    img {
      max-width: none;
    }

    .title {
      //font-weight: $header-font-weight;
      font-weight: bold;
      font-family: $font-family;
      text-transform: uppercase;
    }
  }

  td.content {
    color: #888;
    font-size: 1rem;

    p,
    li,
    em,
    code,
    pre {
      font-size: inherit;
      padding-right: 1rem !important;
    }

    padding: 1rem !important;

    > :last-child > :last-child {
      margin-bottom: 0;
    }
  }
}

conum[data-value] {
  -webkit-border-radius: 1em;
  display: inline-block;
  color: $white !important;
  background: $black_80;
  border-radius: 1em;
  text-align: center;
  font-size: 2.75em;
  width: 3.67em;
  height: 3.67em;
  line-height: 2.67em;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.conum[data-value] {
  * {
    color: $white !important;
  }

  + b {
    display: none;
  }
}

.conum[data-value]::after {
  content: attr(data-value);
}

span.icon > .fa {
  cursor: default;
}

.admonitionblock td.icon {
  text-align: center;
  width: 50px;

  [class^="fa icon-"] {
    font-size: 10px;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 1px 1px 2px $black_50;
    cursor: default;
  }

  .icon-note:before {
    content: "\f05a";
    color: $color_bay_of_many_approx;
  }

  .icon-tip:before {
    content: "\f0eb";
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 1px 1px 2px $color_olive_80_approx;
    color: $color_cod_gray_approx;
  }

  .icon-warning:before {
    content: "\f071";
    color: $color_indochine_approx;
  }

  .icon-caution:before {
    content: "\f06d";
    color: $color_fire_approx;
  }

  .icon-important:before {
    content: "\f06a";
    color: $color_guardsman_red_approx;
  }
}

s.conum[data-value] {
  position: relative;
  top: -0.125em;
}

b.conum * {
  color: inherit !important;
}

.conum:not([data-value]):empty {
  display: none;
}
