/* Custom CSS Extensions
 *
 * Author: Konstantin Gredeskoul
 * NOTE:   This is not part of the template. */

@import "variable";

body {
  .banner, img#post-image {
    border-radius: 5px;
    border: 0px solid #503757;
    box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);
  }

  footer {
    a {
      letter-spacing: 0.03rem;
      color: $nav-level1 !important;

      &:hover {
        font-weight: 600;
        color: $active;
        text-decoration: underline;
      }
    }
  }

  /* Override Asciidoctor CSS to get the correct background */
  .listingblock .content pre[class^="highlight "] {
    background-color: #272822 !important;
    width: 0% !important;
    margin: 20px auto !important;

    code {
      width: 100% !important;
    }

    code[class^="language-"] {
      background-color: #272822 !important;
      min-width: 80% !important;
    }
  }

  .s-post-details {
    width: 100% !important;
  }

  .entry-content #preamble .sectionbody .paragraph p {
    margin: 30px 0;
    font-size: 1.5rem;
    line-height: auto;
    font-weight: 400;
    color: #6F8B91 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .index-page {
    .banner-text-wrap, .blog-list {
      .sectionbody {
        .paragraph {
          p {
            color: #999 !important;
            font-size: 1.4rem !important;
            line-height: 1.7rem !important;
          }
          line-height: 1.2rem !important;
          color: #333034 !important;
          text-shadow: none !important;
        }
      }
    }
  }

  .post-summary, #preamble .sectionbody .paragraph {
    p, h1, h2, h3 {


      font-size: 22pt;
      line-height: 26pt !important;
      font-weight: 700;
      font-family: 'Yanone Kaffeesatz', sans-serif !important;
      margin: 10px 10px 10px 0 !important;
      text-align: left;;
    }

    h1 {
      font-size: 26pt;
      line-height: 28pt;
    }

    h2 {
      font-size: 22pt;
      line-height: 25pt;
    }
  }

  div.clear-fix {
    clear: both !important;
  }

  .google-maps {
    float: none;
    display: block;
    position: relative;
    clear: both;
    height: 600px;
    width: 600px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #503757;
    box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);
  }

  div.post-listing-image {
    float: right !important;

    img {
      border-radius: 5px;
      border: 1px solid #503757;
      box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);
      position: relative;
      display: block;
      width: 200px !important;
      margin: 20px;
    }
  }

  #toc {
    top: 0;
    overflow-x: hidden;
    position: sticky !important;
    display: block;
    font-size: 1.1rem;
    margin-left: -20px !important;
    padding-left: 0 !important;
    width: 100%;
    opacity: 0.9;

    #content-toc, #asciidoc-toc {
      padding-left: 0 !important;
      padding-top: 10px;
      width: 100%;
      text-shadow: 5px 5px 15px rgba(60, 60, 60, 0.2);

      .section-nav {
        margin: 5px 0;
        padding: 10px 30px;
      }

      h2.toc-h2 {
        font-family: $font-preamble-family;
        font-size: 2rem !important;
        white-space: nowrap !important;
        margin-top: 10px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        color: $active;
      }

      ul, ul.toc-entry, ul.section-nav {
        margin-left: 0 !important;
        padding-left: 0 !important;

        li {
          list-style-type: none !important;
          margin-left: 0 !important;
          padding-left: 0 !important;

          a {
            font-family: $font-preamble-family;
            font-weight: 400 !important;
            letter-spacing: 0.03rem;
            color: $nav-level1 !important;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              color: black !important;
            }

            &:active {
              color: $active !important;
            }
          }
        }

        ul.sectlevel1 {
          font-size: 1.5rem !important;
          line-height: 1.6rem;
          margin-top: 20px !important;

          li {
            white-space: nowrap;
            margin-bottom: 20px !important;
          }

          a {
            color: $nav-level1 !important;
          }

          ul.sectlevel2 {
            font-size: 1.1rem !important;
            line-height: 1.3rem;
            margin-top: 10px !important;

            li {
              white-space: nowrap;
              margin-left: 10px !important;
              margin-bottom: 10px !important;
            }

            a {
              color: $nav-level2 !important;
            }

            ul.sectlevel3 {
              font-size: 0.9rem !important;
              line-height: 1rem;

              li {
                margin-bottom: 5px !important;
                margin-top: 5px !important;
              }

              a {
                color: $nav-level3 !important;
              }

            }
          }
        }
      }
    }

    min-height: 500px;
    margin-top: 0;

    a {
    }
  }
}
