/* Custom CSS Extensions
 *
 * Author: Konstantin Gredeskoul
 * NOTE:   This is not part of the template. */

@import "variable";

@media (min-width: 600px) and (max-width: 1000px) {
  body {
    iframe.video-frame {
      width: 100%;
      overflow: hidden;
    }

    main {
      padding-left: 0px !important;
      padding-right: 5px !important;
    }
  }
}


body {
  .tag-post-counter {
    h1 {
      float: right;
      font-family: $font-menu;
      font-weight: 800;
    }

    a span {
      text-shadow: 1px 1px 2px rgba(46%, 46%, 46%, 1);
    }

    .numberCircle {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      padding: 15px;
      background: #222;
      border: 2px solid #666;
      color: #eee;
      text-align: center;
      font-weight: 700;
      font: 25px $font-preamble-family;
    }

    .popular .numberCircle {
      background-color: rgba(0, 0, 0, 1);;
    }

    .mediocre .numberCircle {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .rare .numberCircle {
      background-color: rgba(0, 0, 0, 0.3);
    }

    a span {
      font-family: $font-menu;
      font-weight: 800;
      font-size: 2rem;
      padding: 10px;

      &:hover {
        background-color: $hover;
      }
    }
  }

  .tag-column-even {
    padding-left: 50px !important;
  }

  .tag-column-odd {
    padding-right: 50px !important;
  }

  .banner {
    margin-top: 50px !important;
  }

  .banner,
  img#post-image {
    border-radius: 5px;
    border: 0px solid #503757;
    box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);
  }

  footer {
    a {
      letter-spacing: 0.03rem;
      color: $nav-level1 !important;

      &:hover {
        font-weight: 600;
        color: $active;
        text-decoration: underline;
      }
    }
  }

  /* Override Asciidoctor CSS to get the correct background */
  .listingblock .content pre[class^="highlight "] {
    background-color: #272822 !important;
    width: 0% !important;
    margin: 20px auto !important;

    code {
      width: 100% !important;
    }

    code[class^="language-"] {
      background-color: #272822 !important;
      min-width: 80% !important;
    }
  }

  .s-post-details {
    width: 100% !important;
  }


  #preamble .sectionbody .paragraph p {
    margin: 30px 0;
    font-size: 1.8rem !important;
    line-height: auto;
    font-weight: 400;
    //color: #3c4449 !important;
    color: #726F71 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .list-block #preamble .sectionbody .paragraph p {
    margin: 30px 0;
    font-size: 1.4rem !important;
    line-height: 1.6rem !important;
    font-weight: 400;
    color: #726F71 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .index-page {

    .banner-text-wrap,
    .blog-list {
      .sectionbody {
        .paragraph {
          p {
            color: #999 !important;
            font-size: 1.4rem !important;
            line-height: 1.7rem !important;
          }

          line-height: 1.2rem !important;
          color: #333034 !important;
          text-shadow: none !important;

        }
      }
    }
  }

  a.image {
    width: 100%;
    display: inline-block;
    text-align: center;

    img {
      width: 60%;
      border-radius: 5px;
      border: 0px solid #503757;
      box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);

      &:hover {
        border: 1px solid $hover;
        box-shadow: 5px 5px 15px $hover;
      }
    }
  }

  .post-summary,
  #preamble .sectionbody .paragraph {

    p,
    h1,
    h2,
    h3 {


      font-size: 22pt;
      line-height: 26pt !important;
      font-weight: 700;
      font-family: 'Yanone Kaffeesatz', sans-serif !important;
      margin: 10px 10px 10px 0 !important;
      text-align: left;;
    }

    h1 {
      font-size: 26pt;
      line-height: 28pt;
    }

    h2 {
      font-size: 22pt;
      line-height: 25pt;
    }
  }

  div.clear-fix {
    clear: both !important;
  }

  .google-maps {
    text-align: center;
    float: none;
    display: block;
    position: relative;
    clear: both;
    height: 700px;
    width: 700px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #503757;
    box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);
    align-content: center;

    frame.google-map-frame {
      position: relative;
    }
  }

  .post-link-arrow {
    width: 30px;
    float: left;
    margin-top: -10px;
    margin-right: 50px;

    a {
      color: $hover !important;

      &:hover {
        color: $active !important;
      }
    }

  }

  h2.post-link {
    line-height: 1.6rem !important;
  }

  .banner-text-wrap {
    h2.post-link {
      line-height: 2.5rem !important;
    }
  }

  .post-link {
    position: relative;
    display: block;
    width: 60%;

    &:hover {
      a:before {
        width: 80%;
        opacity: 1;
        transform: scale(1);
        transition: all 0.2s ease-out;
      }
    }

    a {
      color: #404040;
      font-weight: $font-medium;

      &:hover {
        color: $hover;
        transition: all 0.3s ease-out;
      }

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: $hover;
        content: "";
        opacity: 0;
        transition: all 0.4s ease-out;
        transform: scale(0);
      }
    }
  }

  @media (max-width: 600px) {
    .post-link {
      width: 100%;
    }

    div.post-listing-image {
      display: none;
    }
  }

  div.post-listing-image {
    float: right !important;
    width: 40% !important;
    height: 150px !important;
    overflow-y: hidden;
    margin: 20px 20px 40px 40px;
    position: relative;
    display: block;
    padding: 0;

    img {
      display: block;
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }

    &:after {
      clear: right;
    }
  }
}


@media (max-width: 700px) {
  body {
    .quoteblock {
      padding: 0 !important;
      margin: 0 !important;

      blockquote {
        padding: 0 20px !important;

        .paragraph p {
          color: $primary-color + 50 !important;
          font-weight: 300;
          padding: 0 !important;
          margin: 0 !important;
        }
      }
    }

    .tag-post-counter {
      .numberCircle {
        width: 2rem;
        height: 2rem;
        padding: 10px;
        font: 15px $font-preamble-family;
      }

      a span {
        font-size: 1rem;
        padding: 10px;
      }
    }
  }
}
