/* Custom CSS Extensions
 *
 * Author: Konstantin Gredeskoul
 * NOTE:   This is not part of the template. */

@import "variable";

body {
  .banner, img#post-image {
    border-radius: 5px;
    border: 0px solid #503757;
    box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);

  }

  /* Override Asciidoctor CSS to get the correct background */
  .listingblock .content pre[class^="highlight "] {
    background-color: #272822 !important;

    code[class^="language-"] {
      background-color: #272822 !important;
    }
  }

  .post-summary, #preamble .sectionbody .paragraph {
    p, h1, h2, h3 {
      font-size: 20pt;
      line-height: 24pt;
      font-weight: 300;
      font-family: 'Yanone Kaffeesatz', sans-serif !important;
      margin: 10px 10px 10px 0 !important;
      text-align: left;
    }

    h1 {
      font-size: 26pt;
      line-height: 28pt;
    }

    h2 {
      font-size: 22pt;
      line-height: 25pt;
    }
  }

  div.clear-fix {
    clear: both !important;
  }

  .google-maps {
    float: none;
    display: block;
    position: relative;
    clear: both;
    height: 600px;
    width: 600px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #503757;
    box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);
  }


  #toc {
    position: sticky !important;
    display: block;
    top: 0;
    font-size: 1.1rem;

    #content-toc, #asciidoc-toc {
      .section-nav {
        margin: 5px 0;
        padding: 10px 30px;
      }

      ul, ul.toc-entry, ul.section-nav, ul.sectlevel1, ul.sectlevel2, ul.sectlevel3 {
        &:first {
          margin-left: 0 !important;
          padding-left: 0 !important;
        }

        margin-left: 10px !important;
        padding-left: 10px !important;

        li {
          list-style-type: none !important;

          margin-left: 0px !important;
          padding-left: 0px !important;

          a {
            white-space: nowrap;
            font-family: $font-preamble-family;
            font-weight: 700 !important;

            color1: $hover !important;

            text-decoration: none;

            &:hover {
              text-decoration: underline;
              color: $black_80;
              font-weight: 800;
            }

            &:active {
              color: $active !important;
            }
          }
        }

        ul.sectlevel1 {
          font-size: 1.4rem !important;
          line-height: 2.2rem;

          a { color: $hover + 10; }

          ul.sectlevel2 {
            font-size: 1.1rem !important;
            line-height: 1.4rem;

            a { color: $hover + 30; }

            ul.sectlevel3 {
              font-size: 0.9rem !important;
              line-height: normal;

              a { color: $hover + 70; }

            }
          }
        }

        li.toc-h2 {
          font-size: 1.4rem !important;
          line-height: 2.2rem;

          a { color: $hover + 10; }

          li.toc-h3 {
            a { color: $hover + 20; }

            font-size: 1.1rem !important;
            line-height: 1.4rem;

            li.toc-h4 {
              a { color: $hover + 30; }

              font-size: 0.9rem !important;
              line-height: normal;
            }
          }
        }

      }
    }

    min-height: 1000px;
    margin-top: 0;

    a {
    }
  }
}
