
a.lightbox-anchor {
  border-radius: 5px;
  border: 1px solid #503757;
  box-shadow: 5px 5px 15px rgba(40, 9, 0, 0.5);

  float: right;

  width: 40% !important;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0;

  img.lightbox-img {
    width: 100%;
    margin: 0;
  }
  img.lightbox-img-small {
    float: left;
    margin-top: 0;
    margin-bottom: 10px;
    width: 31% !important;
  }
}
