@media print {
  @page {
    margin-left: 50pt !important;
    margin-right: 50pt !important;
    margin-top: 40pt !important;
    margin-bottom: 40pt !important;
    width: 100% !important;
    padding: 10pt;
  }

  footer,
  .comments-area,
  .social-link,
  #related-posts,
  #content-toc {
    display: none !important;
  }
}
