/**
* ============================
*  2.Variables
* ============================
*/
$primary-font-size: 1rem;
$primary-font-size-small: 0.9rem;
$code-font-size: 14px;
$h1-font-size: 70px;
$h2-font-size: 24px;
$font-20: 20px;
$smaller-font: 18px;
$line-height-1: 24px;
$line-height-2: 30px;
$line-height-3: 36px;
$font-bold: 700;
$font-medium: 600;
$font-normal: 400;
$font-family: "poppins", sans-serif;
$font-preamble-family: "Yanone Kaffeesatz",  sans-serif;
$font-family-serif: "Noto Serif Myanmar", serif;

$font-monospace-family: "Consolas", "PT Mono", "Monaco", monospace;
$primary-color: #404040;
$primary-link: #333333;
$white-text: #fff;
$hover: #fe6061;

$font-cursive: 'Zilla Slab', serif;
$font-blockquote: 'Zilla Slab',  serif;
$font-menu: 'Mina', sans-serif;

$nav-level1: #777;
$nav-level2: #848484;
$nav-level3: #919191;

$active: #890A00;
$grey-bg: #f8f9f9;
$font-style: italic;
$input-border: 1px solid #d9d9d9;
$mouse-cursor: pointer;
$section-padding-50: 50px;
$section-padding-100: 100px;
$pt-60: 60px;

//colors
$black_50: rgba(0, 0, 0, .5);
$color_bay_of_many_approx: #19407c;
$color_olive_80_approx: rgba(155, 155, 0, .8);
$color_cod_gray_approx: #111;
$color_indochine_approx: #bf6900;
$color_fire_approx: #bf3400;
$color_guardsman_red_approx: #bf0000;
$white: #fff;
$black_80: rgba(0, 0, 0, .8);
