@media only screen and (min-width: 768px) {
	navbartitle {
		font-size: 1.375em;
	}
	body.toc2 {
		padding-left: 15em;
		padding-right: 0;
	}
	#toc.toc2 {
		margin-top: 0 !important;
		background: #f2f2f2;
		position: fixed;
		width: 15em;
		left: 0;
		top: 0;
		border-right: 1px solid #cccccc;
		border-top-width: 0 !important;
		border-bottom-width: 0 !important;
		z-index: 1000;
		padding: 1.25em 1em;
		height: 100%;
		overflow: auto;
		#toctitle {
			margin-top: 0;
			margin-bottom: 0.8rem;
			font-size: 1.2em;
		}
		>ul {
			font-size: 0.9em;
			margin-bottom: 0;
		}
		ul {
			ul {
				margin-left: 0;
				padding-left: 1em;
			}
		}
		ul.sectlevel0 {
			ul.sectlevel1 {
				padding-left: 0;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}
		}
	}
	body.toc2.toc-right {
		padding-left: 0;
		padding-right: 15em;
		#toc.toc2 {
			border-right-width: 0;
			border-left: 1px solid #cccccc;
			left: auto;
			right: 0;
		}
	}
}
@media only screen and (min-width: 1280px) {
	body.toc2 {
		padding-left: 20em;
		padding-right: 0;
	}
	#toc.toc2 {
		width: 20em;
		#toctitle {
			font-size: 1.375em;
		}
		>ul {
			font-size: 0.95em;
		}
		ul {
			ul {
				padding-left: 1.25em;
			}
		}
	}
	body.toc2.toc-right {
		padding-left: 0;
		padding-right: 20em;
	}
}
#content {
	#toc {
		border-style: solid;
		border-width: 1px;
		border-color: #d9d9d9;
		margin-bottom: 1.25em;
		padding: 1.25em;
		background: #f2f2f2;
		-webkit-border-radius: 0;
		border-radius: 0;
		> {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
