---
layout: default
title: Tags
subtitle: All Tags Used with Post Counts
add_to_menu: true
---

{% include main_header.html %}

<div class="main-content-area clearfix mt-100">
  <div class="tag-post-counter container">
      {% assign tags = site.tags | sort "[0]" %}
      {% for tag in tags %}
        {% assign tag_name = tag[0] %}
        {% assign post_count = site.tags[tag_name].size %}
        {% if post_count <= 1 %}
          {% assign popular_class="rare" %}
        {% elsif post_count >= 4 %}
          {% assign popular_class="popular" %}
        {% else %}
          {% assign popular_class="mediocre" %}
        {% endif %}

        {% assign odd_even = forloop.index | modulo: 2 %}
        {% if odd_even == 1 %}
          <div class="row">
            <div class="col-sm-0 col-md-0 col-lg-0 col-xl-2"></div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mb-5 d-flex flex-row flex-nowrap {{ popular_class }} min-w-450">
              <div class="numberCircle">{{ post_count }}</div>
              <a href="/tag/{{ tag_name }}">
                <span class="text-nowrap badge-success badge-pill badge-success">#{{ tag_name }}</span>
              </a>
            </div>
        {% else %}
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mb-5 d-flex flex-row flex-nowrap {{ popular_class }} min-w-450">
              <div class="numberCircle">{{ post_count }}</div>
              <a href="/tag/{{ tag_name }}">
                <span class="text-nowrap badge-pill badge-success">#{{ tag_name }}</span>
              </a>
            </div>
            <div class="col-sm-0 col-md-0 col-lg-0 col-xl-2"></div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
