---
layout: default
title: Tags
subtitle: All Tags Used with Post Counts
add_to_menu: true
---


{% include main_header.html %}

<div class="main-content-area clearfix mt-100">
  <div class="tag-post-counter container">
    <div class="row clearfix">
      {% assign tags = site.tags | sort "[0]" %}
      {% for tag in tags %}

        {% assign tag_name = tag[0] %}
        {% assign post_count = site.tags[tag_name].size %}
        {% if post_count <= 1 %}
          {% assign popular_class="rare" %}
        {% elsif post_count >= 4 %}
          {% assign popular_class="popular" %}
        {% else %}
          {% assign popular_class="mediocre" %}
        {% endif %}

        {% assign odd_even = forloop.index | modulo: 2 %}
        {% if odd_even == 1 %}
        <div class="col-1"></div>
        <div class="col-5 mb-5 d-flex flex-row flex-nowrap {{ popular_class }}">
          <div class="mr-5 numberCircle d-flex float-right ">{{ post_count }}</div>
          <a href="/tag/{{ tag_name }}" class="mr-5 float-right d-flex">
            <span class="text-nowrap badge-success badge-pill badge-success">#{{ tag_name }}
            </span>
          </a>
        </div>
        {% else %}
        <div class="col-5 mb-5 d-flex flex-row flex-nowrap {{ popular_class }}">
          <div class="ml-5 numberCircle d-flex float-left">{{ post_count }}</div>
          <a href="/tag/{{ tag_name }}" class="d-flex float-left ml-5">
            <span class="text-nowrap badge-pill badge-success">#{{ tag_name }}
            </span>
          </a>
        </div>
        <div class="col-1"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
