<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <!-- This color scheme is borrowed from the pallet "Let Them Eat Cake"
       by the gorgeous lunalein
       http://www.colourlovers.com/palette/49963/let_them_eat_cake
   -->
  <body class="theme-ltec">
    <div class="container-fluid">

      {% unless page.sidebar %}
        {% capture sidebar_file %}sidebar-top.html{% endcapture %}
      {% else %}
        {% capture sidebar_file %}sidebar-{{ page.sidebar }}.html{% endcapture %}
      {% endunless %}

      {% include {{sidebar_file}} %}

    </div>

    <div class="about">
      <p>All original material &copy; {{ site.time | date: '%Y' }} by Konstantin Gredeskoul, all rights reserved.</p>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53462349-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
