<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-ltec">
    <div class="container-fluid">
      {% include nav-sidebar.html %}
    </div>

    <p class="about-footer">All original material &copy; {{ site.time | date: '%Y' }} by Konstantin Gredeskoul, all rights reserved.</p>

    {% if page == null %}
      {% include google-analytics.html %}
    {% elsif page and page.ga != "disable" %}
      {% include google-analytics.html %}
    {% endif %}
  </body>
</html>
