---
layout: default
---
{% include main_header.html %}
{% assign author = site.authors | where: 'author_id', page.author_id | first %}

<div class="post-content-area pb-100 clearfix">
  <div class="container">
    <div class="row flex-xl-nowrap">
      <main class="col-12 col-md-12 col-lg-12 col-xl-8 d-content" role="main">
        
        <div class="s-post-details">
          {% if page.post_image %}
            <div class="post-image mb-4">
              <img id="post-image" class="mx-auto d-block" src="{{ page.post_image }}" alt="{{ page.title }}"/>
            </div>
          {% endif %}
          <div class="entry-content">
            {{ page.content }}
          </div>
          {% if author %}
            {% include post_author.html %}
          {% endif %}
        </div>
        
        <div class="categories-carousel pb-60 clearfix">
          <div class="section-title">
            <h3>Related Posts</h3>
          </div>
          {% include post_related.html %}
        </div>
        
        {% if page.comments == true %}
          <div class="comments-area pb-60 clearfix">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="post-comments">
                    {% include post_comments.html %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        
      </main>
      
      <div class="col-md-0 col-lg-0 col-xl-1 mx-auto"></div>
      
      <div class="col-md-0 col-lg-0 col-xl-3 d-lg-block d-md-block d-xl-block bd-sidebar">
        <div id="toc" class="small">
          {% if page.asciidoc_toc %}
            <div id="content-toc">
              <h2 class="toc-h2">Table of Contents</h2>
              <ul class="section-nav">
                {{ page.document | tocify_asciidoc: 3 }}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
